@charset "UTF-8";


        .table-container {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            overflow-x: auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            min-width: 800px;
        }

        thead {
            background-color: #2b2b2b;
            color: white;
            text-align: left;
        }

        th, td {
            padding: 12px 15px;
            border: none;
            text-align: center;
        }

        tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tbody tr:nth-child(odd) {
            background-color: #ffffff;
        }

        tbody tr:hover {
            background-color: #f1f1f1;
        }

        th {
            font-weight: 500;
            letter-spacing: 1px;
        }

        td {
            font-weight: 400;
            color: #333;
        }